*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #fefef8;
}
h5 p{
    font-family: 'Poppins', sans-serif;
}
.header_wrapper{
    width: 100%;
    height: 100vh;
}
.header_wrapper .carousel-item{
    height: 100vh;
    min-height: 300px;
}
.header_wrapper .carousel-caption{
    bottom: 340px;
    z-index: 2;
}
.header_wrapper .carousel-caption h5{
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.header_wrapper .carousel-caption p{
    margin: auto;
    width: 60%;
    font-size: 20px;
    line-height: 18px;
}

.navbar-brand{ 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.navbar-nav a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight:bold;
    color: #1e1d1d;
}
.navbar-nav a:hover{
    color: #df7d0e;
}
.signbtn{
    border-radius: 30px;
    margin-left: 15px;
}
.signbtn:hover{
    background-color: #df7d0e;
    font-weight: normal;
 }
.signbtn a:hover{
    color:#fff;
}
.btn{
    font-weight: bold;
    color: #fff;
}
.container h1{
    margin: 30px 0px;
}
/* responsive css */
@media only screen and (min-width:767px) and (max-width:991px){
    .carousel-caption{
        bottom: 315px;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-nav{
        text-align: center;
    }
    .navbar-nav a{
        font-size: 12px;
        text-transform: uppercase;
        font-weight:bold;
        color: #1e1d1d;
    }
   
    .signbtn:hover{
        font-weight: normal;
        border:none;
    }
    .banner .carousel-caption{
        bottom: 435px;
    }
    .banner .carousel-caption h5{
        font-size: 15px;
    }
    .banner .carousel-caption p{
        font-size: 12px;
        width: 100%;
        line-height: 1.6;
    }
    .banner .carousel-caption a{
        padding: 5px 8px;
        font-size: 10px;
    }
    .banner .carousel-indicators{
        bottom: 140px;
    }
    .banner{
        width: 100%;
        margin: 0 auto;
    }
    .header_wrapper{
        width: 100%;
        height: 60vh;
    }
}

.banner{
    width: 100%;
    height: 80vh;
}

/* to do section */
.todo_section{
    width: 100%;
    height: auto;
    background-color: #fef5ea;
}
.things_image{
    padding: 50px 0px 50px 0px;
}
.things_text{
    padding: 50px 0px 50px 0px;
}

.section{
    margin: 30px 0px;
}

/* places to visit */
.places{
    width: 100%;
    height: 70vh;
    margin: auto;
    background-color: #fef5ea;
}

@media screen and (min-width:768px){
.cardwrapper{
    display: flex;
}
.card{
    margin: 1em auto;
    width: calc(100%);
    margin-left: 15px;
}
}


.image_wrapper{
    margin: 0 auto;
}
.image_wrapper img{
    max-width: 100%;
    max-height: 100%;
    border-bottom-radius: 15px;
}
.places .carousel-control-prev{
    bottom: 4em;
    left: -6em;
}
.places .carousel-control-next{
  bottom: 4em;
  left: 75.5em;
}
@media only screen and (max-width: 767px) {
    .card:not(:first-child){
        display: none;
    }
    .places .carousel-control-prev{
        bottom: 4em;  
        left:-10px;
    }
    .places .carousel-control-next{
      bottom: 4em;
      left: 350px;
    }
    .places{
        height: 30vh;
    }
    /* signup */
    .vh-100{
        min-height: 65em;
    }
}

.places .card-title{
    width:100%;
}

/* footer starts */
.footer_section .row{
   margin-left: 5em;
}
.footer_section h5{
    text-transform: uppercase;
    text-align: left;
}
.footer_section li{
    text-align: left;
    padding-top: .5em;
}
.footer_section li a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

.text-white li a:hover{
    color: rgb(24, 23, 23);
}
/* footer ends */

/* inner pages code */
.header_inner{
    width: 100%;
    margin: 0px;
    }
.placeheader{
    width: 85%;
    margin: 0 auto;
    padding: 10px 20px;
}
.placeheader h2{
    color: #1e1d1d;
    margin-top: 3em;
}
.placeheader .card-text p{
    text-align: left;
}

/* sign up */
.vh-100{
    margin: 6em 0;
}
.vh-100 .card p{
    color: #01953f;
}
.vh-100 form a{
    color: #01953f;
    text-decoration: none;
    font-weight: bold;
}
/* contact page */
.topbanner{
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
.topbanner img{
    width: 100%;
    height: 40em;
}
.contactpg {
    background-color: #fff;
    padding: 20px 0;
}
.btn1_contact{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color:#01953f;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
  }
  .contactpg a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #01953f;
  }
  .contactpg a:hover{
    color: #df7d0e;
  }
/* todo page */
  .todo_wrapper{
     margin: 3em 0;
  }
  .todo_wrapper .container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .todo_wrapper .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .todo_wrapper .box > img {
    width: 200%;
    height: calc(100% - 12vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .todo_wrapper .box > span {
    font-size: 20px;
    color: #01953f;
    font-weight: normal;
    display: block;
    text-align: center;
    height: 15vh;
    line-height:28px;
  }
  
  .todo_wrapper .box:hover { flex: 1 1 50%; }
  .todo_wrapper .box:hover > img {
    width: 100%;
    height: 100%;
  }
  .head_top{
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
   } 
   .head_top h2{
    color: #1e1d1d;
    margin-top: 3em;
}
.districtSub_wrapper{
    width: 100%;
    height: auto;
    padding-bottom: 4em;
}
.alldistricts a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #df7d0e;
}